/*  This file contains all styles for the home page related to the site/application.  */

section#home {
  min-height: calc(100vh - #{$size-navbar-height});
  display: flex;

  .container {
    height: auto;
    width: 100%;
    padding: $responsive-padding;

    display: flex;
    flex-direction: column;
    gap: $responsive-padding;

    .sidebar {
      width: 100%;
      height: 200px;

      border-radius: $border-radius;

      background-color: $clr-prim-700;
    }

    .main-content {
      width: 100%;
      height: 2000px;

      border-radius: $border-radius;

      background-color: $clr-prim-700;
    }

  }
}