/*  This file contains all styles for the home page related to the site/application.  */

section#base {
  min-height: calc(100vh - #{$size-navbar-height});
  display: flex;

  .container {
    height: auto;
    width: 100%;
    padding: $responsive-padding;

    display: flex;
    flex-direction: column;
    gap: $responsive-padding;
  }

  @media (min-width: 850px) and (min-height: 750px) {
    .container {
      flex-direction: row;

      .side-menu-container {
        width: #{'clamp(300px, calc(#{$responsive-padding} * 18), 500px)'};
        height: calc(100vh - #{$size-navbar-height} - (2 * #{$responsive-padding}));
        display: inherit;

        .side-menu {
          position: fixed;
          width: inherit;
          max-height: calc(100vh - #{$size-navbar-height} - (2 * #{$responsive-padding}));
        }
      }
    }
  }
}
