/*  This file contains all styles for the home page related to the site/application.  */

section#layout {
  min-height: calc(100vh - #{$size-navbar-height});
  display: flex;

  .container {
    height: auto;
    width: 100%;
    padding: $responsive-padding;

    display: flex;
    flex-direction: column;
    gap: $responsive-padding;

    .main-content {
      width: 100%;
      height: 2000px;
    
      background-color: $clr-prim-700;
      color: $clr-sec-100;
      padding: #{'clamp(20px, calc(#{$responsive-padding} * 2), 50px)'};
    
      border-radius: $border-radius;
    
      -webkit-box-shadow: 5px 5px 27px -20px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 5px 27px -20px rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 27px -20px rgba(0, 0, 0, 0.5);

      section {
        hr {
          margin: #{'clamp(20px, calc(#{$responsive-padding} * 2), 50px)'} 0;
        }
      }

    }
  }

  @media (min-width: 850px) and (min-height: 750px) {
    .container {
      flex-direction: row;
    }
  }
}
