/*  This file contains all navigation styles related to the site/application.  */

.navbar {
  min-height: $size-navbar-height;
  max-height: $size-navbar-height;
  background-color: $clr-prim-700;
  border-bottom: 2px solid $clr-sec-900;
  transition: max-height 100ms ease-in;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: calc(#{$size-navbar-height} / 1.6);
    }

    ul {
      display: flex;
    }

    ul,
    li {
      height: $size-navbar-height;
    }

    li {
      padding: 0 calc(3px + 0.2vw);

      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 850px) and (min-height: 750px) {
        &.smallDeviceMenu {
          display: none;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }

    ul li div {
      width: calc(#{$size-navbar-height} * 0.7);
      height: calc(#{$size-navbar-height} * 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      background-color: #{'hsl(0deg 0% 100% / 5%)'};
      border-radius: 50%;

      &:hover {
        background-color: #{'hsl(0deg 0% 100% / 10%)'};
      }
    }

    ul li div svg {
      color: $clr-sec-100;
      width: calc(#{$size-navbar-height} * 0.35);
      height: calc(#{$size-navbar-height} * 0.35);
    }
  }

  .dropdown-container {
    position: absolute;
    width: 100%;
    border-bottom: 2px solid $clr-sec-900;
    top: calc(#{$size-navbar-height} - 1px);

    .dropdown {
      background-color: $clr-prim-700;
      -webkit-box-shadow: 5px 5px 27px -20px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 5px 27px -20px rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 27px -20px rgba(0, 0, 0, 0.5);

      ul {
        width: 100%;
        padding: #{'clamp(10px, calc(#{$responsive-padding}), 25px)'};
        height: 100%;
        display: flex;
        flex-direction: column;

        li {
          width: 100%;
          height: #{'clamp(60px, calc(#{$responsive-padding} * 3), 75px)'};
          border-radius: $border-radius;

          &:hover {
            background-color: rgba($color: #000, $alpha: 0.2);
          }

          .active svg,
          .active h3 {
            color: $clr-text-header;
          }

          .dropdown-account {
            display: flex;
            flex: 1;
            flex-direction: column;
            color: $clr-sec-100;
            justify-content: center;
            gap: 0.21rem;

            h3 {
              color: $clr-text-header;
              font-weight: 800;
              font-size: 1.1rem;
            }
            p {
              font-weight: 300;
              font-size: 0.9rem;
            }
          }
          .dropdown-account-image {
            display: flex;
            width: 2rem;
            align-items: center;
          }
          .dropdown-item {
            display: flex;
            height: 100%;
            flex-direction: row;
            align-items: center;
            gap: calc(#{$responsive-padding} / 1);
            padding: #{'clamp(10px, calc(#{$responsive-padding}), 25px)'};
            color: $clr-sec-100;

            h3 {
              font-weight: 500;
              font-size: 1rem;
            }
          }
        }

        .dropdown-divider {
          width: 100%;
          border: 1px solid rgba($color: #000, $alpha: 0.6);
        }
      }
    }
  }

  @media (min-width: 850px) and (min-height: 750px) {
    .dropdown-container {
      display: none;
    }
  }
}
