.container {
  
  .main {
    padding: $responsive-padding;
    display: flex;
    align-items: flex-start;
    gap: $responsive-padding;

    .side_menu_container {
      display: none;
      max-height: calc(100vh - (#{$responsive-padding} * 2) - #{$size-navbar-height} - 2px);
      width: clamp(300px, 22vw, 400px);

      flex-shrink: 0;
      
      border-radius: $border-radius;
      background-color: $clr-prim-700;
      padding: $responsive-padding-m;
    }

    .content_container {
      width: 100%;
      height: calc(100vh - (#{$responsive-padding} * 2) - #{$size-navbar-height} - 2px);
      
      border-radius: $border-radius;
      background-color: $clr-prim-700;
      padding: $responsive-padding-l 0;

      overflow: hidden;

      .content {
        padding: 0 $responsive-padding-l;
        height: 100%;
        overflow: scroll;
      }
    }

    @media (min-width: 850px) and (min-height: 750px) {
      .side_menu_container {
        display: inherit;
      }
    }
  }
}