@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --clr-bg: #1d1d1d;
  --clr-bg1: #343434;
  --clr-text: #fcfcfc;

  --clr-hover: rgba(255, 255, 255, 0.1);
  --clr-hover2: rgba(255, 255, 255, 0.2);

  --border-radius: 0.8rem;

  --navbar-size: 5.6rem;
  --navbar-button-size: 4rem;
  --navbar-icon-size: 2rem;

  --margin: 0.2rem;

  --scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: var(--scroll-behavior);

  @media (prefers-reduced-motion: reduce) {
    --scroll-behavior: auto;
  }
}

html,
body {
  position: fixed;
  width: 100%;
  height: 100vh;

  box-sizing: border-box;
  font-size: 10px;

  font-family: 'Poppins';
  background-color: var(--clr-bg);
  color: var(--clr-text);

  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 1em;
}

h5 {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.9);
}

p {
  font-size: 1.4rem;
}

p.greyedOut {
  color: rgba(255, 255, 255, 0.7);
}

p.text-light {
  font-size: 1.2rem;
}

input {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

hr {
  appearance: none;
  border-color: var(--clr-hover2);
}

.positive p,
.positive svg {
  color: #80ff7d;
}

.negative p,
.negative svg {
  color: #ff7b7b;
}

/* Root */
#root {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  min-height: var(--navbar-size);
  max-height: var(--navbar-size);
  overflow: hidden;

  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  padding: 0.75rem 2rem;
  background-color: var(--clr-bg);
  border-bottom: 1px solid #000;

  transition: max-height 100ms ease-in;
}

.navbar.expanded {
  max-height: 100%;
  transition: max-height 100ms ease-out;
}

/* Navbar logo */
.navbar-logo-container {
  width: var(--navbar-button-size);
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: var(--navbar-button-size);
}

/* Navbar search */
.navbar-search-container {
  display: none;
  order: 2;

  width: 100%;
  height: var(--navbar-button-size);

  margin: 0.5rem 0;
  border-radius: var(--border-radius);
  background-color: var(--clr-text);
  overflow: hidden;
}

.navbar.expanded .navbar-search-container {
  display: inherit;
}

.navbar-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-search svg {
  width: var(--navbar-icon-size);
  height: var(--navbar-icon-size);
  color: #616161;

  pointer-events: none;

  margin: 0 1.1rem 0 1.1rem;
}

.navbar-search-container:focus-within > .navbar-search svg {
  color: var(--clr-bg);
}

.navbar-search input {
  width: 100%;
  height: var(--navbar-button-size);

  color: var(--clr-bg);
  border: none;
  outline: none;
}

/* Navbar buttons */
.navbar-nav {
  order: 2;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.navbar-nav-item {
  width: var(--navbar-button-size);
  height: var(--navbar-button-size);

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav-item > a {
  width: var(--navbar-button-size);
  height: var(--navbar-button-size);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: var(--clr-hover);
  border-radius: 50%;

  transition: background-color 150ms ease-in-out;
}

.navbar-nav-item > a:hover {
  background-color: var(--clr-hover2);
}

.navbar-nav-item > a svg {
  width: var(--navbar-icon-size);
  height: var(--navbar-icon-size);
}

.nav-item-dropdown {
  z-index: 999;

  position: absolute;
  top: calc(var(--navbar-size) - 1px);
  left: 0px;
  right: 0px;
  background-color: var(--clr-bg);
  border-bottom: 1px solid #000;
  padding: 0 0 1rem 0;
  overflow: hidden;
}

.nav-item-dropdown .dropdown-item {
  margin: 0 1rem;
  height: 60px;

  display: flex;
  align-items: center;

  cursor: pointer;
  border-radius: var(--border-radius);

  transition: background-color 150ms ease-in-out;
}

.nav-item-dropdown .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item .dropdown-item-icon {
  width: var(--navbar-button-size);
  height: var(--navbar-button-size);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: var(--clr-hover);
  border-radius: 50%;
  margin: 0 1rem;

  transition: background-color 150ms ease-in-out;
}

.dropdown-item .dropdown-item-icon svg {
  width: var(--navbar-icon-size);
  height: var(--navbar-icon-size);
}

/* Main */
main {
  width: 100%;
  height: 100%;

  background-color: var(--clr-bg1);

  overflow: auto;
}

main .main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 2rem;
}

.main-container .main-menu {
  /* max-height: 100%; */
  max-height: 100px;
  overflow: hidden;

  border-radius: var(--border-radius);
  background-color: var(--clr-bg);
}

.main-container .main-menu.expanded {
  max-height: 100%;
}

.main-menu .menu-account {
  padding: 10px;
}

.main-menu .menu-account-user {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 15px;
}

.menu-account-user .menu-account-user-name {
  display: flex;
  flex-direction: column;
  justify-content: center;

  pointer-events: none;
  user-select: none;
}

.menu-account svg {
  width: 26px;
  height: 26px;

  transition: rotate 200ms ease-in-out;
}

.main-menu.expanded .menu-account svg {
  rotate: -90deg;
}

.menu-account img {
  display: none;
}

.main-menu .menu-items,
.main-menu .menu-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
}

.menu-items .menu-item,
.menu-settings .menu-item {
  height: 60px;

  display: flex;
  align-items: center;

  cursor: pointer;
  border-radius: var(--border-radius);
}

.menu-account .menu-account-user:hover,
.menu-items .menu-item:hover,
.menu-settings .menu-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-item svg {
  height: var(--navbar-icon-size);
  width: var(--navbar-icon-size);
  margin: 0 15px;
}

.menu-item p {
  pointer-events: none;
  user-select: none;
}

.main-container .main-content {
  border-radius: var(--border-radius);
  background-color: var(--clr-bg);
}

.main-content hr {
  margin: 0 0 30px 0;
}

.main-content .main-content-header {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  padding: 20px;
}

.main-content-header .header-total {
  border-radius: var(--border-radius);
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.header-total .total-price {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-total svg {
  width: 12px;
  height: 12px;
}

.main-content .main-content-favorites > h5,
.main-content .main-content-watchlists > h5 {
  padding: 0 20px 10px 20px;
}

.main-content-favorites .favorites,
.main-content-watchlists .watchlists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

  padding: 0 20px 20px 20px;
}

.favorites .card,
.watchlists .card {
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

.card .card-category {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}

.card .card-price {
  margin-top: 4px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.watchlists .card .card-price {
  margin-top: 2px;
}

.card-price svg {
  width: 12px;
  height: 12px;
}

@media (min-width: 850px) AND (min-height: 710px) {
  .navbar-logo-container {
    width: 20rem;
  }

  .button-search {
    display: none;
  }

  .navbar-nav {
    min-width: 20rem;
  }

  .navbar-search-container {
    display: inherit;
    order: 1;
    width: 40%;

    margin: 0;
  }

  .nav-item-dropdown {
    top: var(--navbar-size);
    right: 20px;
    width: 300px;
    left: inherit;
    border: 1px solid #000;
    padding: 1rem;
    border-top: none;
    border-radius: var(--border-radius);
  }

  .nav-item-dropdown .dropdown-item {
    margin: 0;
  }

  main .main-container {
    flex-direction: row;
  }

  .main-container .main-menu-container {
    min-width: 35rem;
    border-radius: var(--border-radius);
  }

  .main-menu-container .main-menu {
    position: fixed;
    max-height: calc(100vh - 9.5rem);
    width: 35rem;
  }

  .menu-account svg {
    display: none;
  }

  .menu-account img {
    display: inherit;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .main-container .main-content {
    width: 100%;

    border-radius: var(--border-radius);
    background-color: var(--clr-bg);
  }

  .main-content .main-content-header {
    flex-direction: row;
    align-items: center;
    padding: 40px;
  }

  .main-content-header .header-total {
    width: initial;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 350px) {
  .main-content-favorites .favorites,
  .main-content-watchlists .watchlists {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
