@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --clr-bg: #1d1d1d;
  --clr-bg1: #343434;
  --clr-sec: #2d88ff;
  --clr-sec-alt: rgba(255, 255, 255, 0.1);
  --clr-text: #fcfcfc;
  --clr-text-alt: #18191a;

  --clr-hover: rgba(255, 255, 255, 0.1);
  --clr-hover2: rgba(255, 255, 255, 0.2);

  --border-radius: 0.8rem;

  --navbar-size: 5.6rem;
  --navbar-button-size: 4rem;
  --navbar-icon-size: 2rem;

  --margin: 0.2rem;

  --scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: var(--scroll-behavior);

  @media (prefers-reduced-motion: reduce) {
    --scroll-behavior: auto;
  }
}

html,
body {
  width: 100%;
  height: 100vh;

  box-sizing: border-box;
  font-size: 10px;

  font-family: 'Poppins';
  background-color: var(--clr-bg);
  color: var(--clr-text);

  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Root */
#root {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  min-height: 56px;
  max-height: 56px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  padding: 0.75rem 2rem;
  background-color: var(--clr-bg);
  border-bottom: 1px solid #000;

  transition: max-height 100ms ease-in;
}

.navbar.expanded {
  max-height: 140px;

  transition: max-height 100ms ease-out;
}

/* Navbar logo */
.navbar-logo-container {
  width: var(--navbar-button-size);
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: var(--navbar-button-size);
}

/* Navbar search */
.navbar-search-container {
  order: 2;

  width: 100%;
  height: var(--navbar-button-size);

  margin: 1rem 0 3rem 0;
  border-radius: var(--border-radius);
  background-color: var(--clr-text);
  overflow: hidden;
}

.navbar-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-search svg {
  width: var(--navbar-icon-size);
  height: var(--navbar-icon-size);
  color: #616161;

  pointer-events: none;

  margin: 0 1.1rem 0 1.1rem;
}

.navbar-search-container:focus-within > .navbar-search svg {
  color: var(--clr-bg);
}

.navbar-search input {
  width: 100%;
  height: var(--navbar-button-size);
  font-size: 1.5em;

  color: var(--clr-bg);
  border: none;
  outline: none;
}

/* Navbar buttons */
.navbar-nav {
  order: 2;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.navbar-nav-item {
  width: var(--navbar-button-size);
  height: var(--navbar-button-size);

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav-item a {
  width: var(--navbar-button-size);
  height: var(--navbar-button-size);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: var(--clr-hover);
  border-radius: 50%;
}

.navbar-nav-item a:hover {
  background-color: var(--clr-hover2);
}

.navbar-nav-item a svg {
  width: var(--navbar-icon-size);
  height: var(--navbar-icon-size);
}

/* Main */
main {
  width: 100%;
  height: 100%;

  background-color: var(--clr-bg1);

  overflow: auto;
}

main .main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 2rem;
}

.main-container .main-menu {
  height: 10rem;
  max-height: 100%;

  border-radius: var(--border-radius);
  background-color: var(--clr-bg);
}

.main-container .main-content {
  height: 100rem;

  border-radius: var(--border-radius);
  background-color: var(--clr-bg);
}


@media screen and (min-width: 850px) {
  .navbar-logo-container {
    width: 20rem;
  }

  .button-search {
    display: none;
  }

  .navbar-nav {
    min-width: 20rem;
  }

  .navbar-search-container {
    order: 1;
    width: 40%;

    margin: 0;
  }

  main .main-container {
    flex-direction: row;
  }

  .main-container .main-menu-container {
    min-width: 35rem;  
    border-radius: var(--border-radius);
  }

  .main-menu-container .main-menu {
    position: fixed;
    max-height: calc(100vh - 9.5rem);
    width: 35rem;
  }
  
  .main-container .main-content {
    height: 120rem;
    width: 100%;
    
    border-radius: var(--border-radius);
    background-color: var(--clr-bg);
  }
}
